.scroll-top {
  position: fixed;
  bottom: 85px;
  right: 35px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: var(--blue-dark);  
  color: #fff;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

